html{
    position: relative;
    min-height: 100%;
}


nav{
    background-color:rgb(235, 233, 233);
    border-color: black;
    border-style: solid;
    border-radius: 8px;
}

.navlist{
    display: flex;
    flex-direction:row;
    justify-content: center;
    justify-content: space-around;
    padding: 1em;
    margin: auto;
    flex-wrap: wrap;
}

body{
    display: flex;
    background-color: rgb(255, 217, 161);
    padding: 1em;
    height: 100%;
    flex-direction: column;
}

#ike{
    border-style: solid;
    border-color: black;
    border-radius: 2px;
}

#blueC{
    border-style: solid;
    border-color: black;
    border-radius: 2px;
}

#rpl{
    border-style: solid;
    border-color: black;
    border-radius: 2px;
}

#spStr{
    border-style: solid;
    border-color: black;
    border-radius: 2px;
}

#selfie{
    display: flex;
    flex-direction: column;
}

footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: .5rem;
    text-align: center;
    height: 1%

@media screen and(max-width: 768px){
    
    
}